@import './tailwind.postcss';
@import './components/container.postcss';
@import './components/button.postcss';
@import './components/input.postcss';
@import url('https://fonts.googleapis.com/css2?family=Celaraz&display=swap');

html, body {
  @apply min-h-full h-full;
}

#app {
  @apply bg-gradient-to-bl from-red-800 to-red-900 text-white;
  @apply flex flex-col min-h-full;
}
