@import './tailwind.postcss';
@import './transitions.postcss';
@import './components/container.postcss';
@import './components/button.postcss';
@import './components/input.postcss';
@import './fonts/celaraz/styles.css';

html, body {
  @apply min-h-full h-full;
}

#app {
  @apply bg-gradient-to-bl from-red-800 to-red-900 text-white;
  @apply flex flex-col min-h-full;
}
